@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/* Resets */

* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

body {
  background: url('images/seating.jpg') center center fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  color: #fff;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

.movie_container {
  margin: 20px 0;
}

.movie-container select {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  /* add appearance attr to show padding on some OS's */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.container {
  perspective: 800px;
}

.seat {
  background-color: #aaa5a5;
  height: 22px;
  width: 25px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.seat.selected {
  background-color: #6feaf6;
}

.seat.occupied {
  background-color: #c75353;
}

.seat:nth-of-type(2) {
  margin-right: 22px;
}

.seat:nth-last-of-type(2) {
  margin-left: 22px;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background-color: rgba(126, 126, 126, 0.2);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 5px;
}

.row {
  display: flex;
}



.screen {
  background-color: #fff;
  height: 70px;
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

.screen .screen-text {
  height: 70px;
  color: #bdbdbdb7;
  font-weight: 900;
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* p.text {
  margin: 5px 0;
} */

p.text span {
  color: #6feaf6
}